@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: var(--text-font);
}

:root {
  --header-font: "Plus Jakarta Sans", sans-serif;
  --text-font: "Public Sans", sans-serif;
  --black: #16140C;
  --white: #ffffff;
  --bg-color: #fefaf2;
  --grey: #999;
  --btn-color: #b42e9f;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-size: 1rem;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #ebe3d6;
  margin: 0 auto;
}

header .nav-container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo .logo__image {
  height: 40px;
  width: 100%;
}
.logo .logo__title {
  font-family: var(--header-font);
  font-size: 1.2rem;
  margin-top: 5px;
}
.secondary-nav {
  max-width: 1100px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  background-color: transparent;
  height: fit-content;
}
.secondary-nav ul {
  display: flex;
  column-gap: 10px;
}
.secondary-nav ul li a {
  list-style-type: none;
  color: var(--black);
  font-size: 13px;
  font-weight: 500;
}

.secondary-nav ul :hover {
  text-decoration: underline;
  text-underline-position: under;
}

.primary-nav ul {
  display: flex;
  width: 100%;
  font-weight: 700;
  column-gap: 50px;
}

.primary-nav ul li a {
  list-style-type: none;
  color: var(--black);

  font-family: var(--header-font);
}

.cta {
  display: flex;
  height: fit-content;
  column-gap: 20px;
}

.cta .cta__free-trial {
  border-radius: 25px;
  border: none;
  padding: 10px 15px;
  background-color: var(--btn-color);
  color: var(--white);
  font-family: var(--text-font);
  font-weight: 500;
}

.cta .cta__buy-now {
  border-radius: 25px;
  border: 1px solid var(--black);
  padding: 10px 15px;
  background-color: transparent;
  color: var(--black);
  font-family: var(--text-font);
  font-weight: 500;
}

/* responsive design */
@media only screen and (min-width: 1400px) {
  header .nav-container {
    max-width: 1500px;
  }
  .secondary-nav {
    max-width: 1500px;
  }
}
