/* .row-customize-experience{
    background-color:#ece0ce;
    display:flex;
    justify-content:center;
    padding: 40px;
    align-items: center;
}
.card{
   width: 300px;
   height:400px;
   border-radius:0;
}
.card-body h3{
    color:#03363d;
}
.row-customize-experience col {
    padding:10px;
    
} */
@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
html {
  background-color: #f8f9f9;
}
.suiteplans {
  background-color: #fff;
  display: flex;
  /* justify-content: center; */
  margin: 40px;
  padding: 40px;
}
/* .plans h6 {
  font-weight: 700;
  font-size: 14px;
  color: #03363d;
  line-height: 22px;
} */
.suiteplans__plans__heading-6 {
  font-weight: 700;
  font-size: 48px;
  color: #03363d;
  line-height: 56px;
}
.suiteplans__basic {
  padding-left: 10%;
}
.suiteplans__circlebasic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.suiteplans__circlebasic__paragraph {
  font-weight: 600;
  font-size: 20px;
  color: #03363d;
  line-height: 26px;
}
.suiteplans__circleplan {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: rotate(20deg);
  background-color: #587052;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suiteplans__basic_link {
  font-weight: 600;
  font-size: 18px;
  color: #03363d;
  line-height: 28px;
}
.suiteplans__basic_paragraph a:hover {
  color: #06615a;
}

/* selected link */
.suiteplans__basic_paragraph a:active {
  color: #06615a;
}
.suiteplans__basic_paragraph {
  font-weight: 700;
  font-size: 14px;
  color: #03363d;
  line-height: 22px;
}

.grid-container {
  display: flex;
}
.grid-item-1 {
  border-bottom: 1px solid #03363d;
  border-right: 1px solid #03363d;

  width: 25%;
}
.grid-item-2 {
  border-top: 2px solid #03363d;
  border-left: 1px solid #fff;
  border-right: 1px solid #03363d;
  width: 25%;
  font-weight: 600;
  font-size: 20px;
  color: #03363d;
  line-height: 28px;
  text-align: center;
}
.grid-item-3 {
  border-bottom: 1px solid #03363d;
  width: 25%;
  border-top: 0.1px solid #03363d;
  border-right: 0.1px solid #03363d;
  font-weight: 600;
  font-size: 20px;
  color: #03363d;
  line-height: 28px;
  text-align: center;
}
.grid-item-4 {
  border-bottom: 1px solid #03363d;
  width: 25%;
}
.suitetypes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.suitetypes div {
  /* height: 1200px; */
  width: 390px;
  /* border:2px solid black; */
  text-align: center;
  margin-top: 50px;
  margin-left: 15px;
  box-shadow: 5px 10px 8px 10px #f8f9f9;
  background-color: #fff;
  /* margin-right: 15px; */
}
.suitetypes__basic__heading4 {
  font-weight: 700;
  font-size: 32px;
  color: #03363d;
  line-height: 40px;
}

.suitetypes__basic_paragraph {
  font-weight: 700;
  font-size: 24px;
  color: #03363d;
  line-height: 24px;
}
.suitetypes__basic_paragraph__one {
  font-weight: 400;
  font-size: 14px;

  line-height: 21px;
  color: #03363d;
}
.suitetypes__basic__link {
  font-weight: 600;
  font-size: 18px;
  color: #06615a;
  line-height: 29px;
}
/* .suitetypes button {
  font-weight: 700;
  font-size: 14px;
  background-color: #03363d;
  line-height: 21px;
  color: #fff;
  border: none;
  width: 200px;
} */

ul li {
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  line-height: 24px;
  color: #17494d;
  padding: 8px;
  border-bottom: 1.3px solid #c2c8cc;
}
ul li:nth-child(1) {
  border-top: 1.3px solid #c2c8cc;
}
.suite-comparison {
  margin-top: 70px;
}
.suite-comparison__basic__link {
  margin-left: 42%;
  font-weight: 600;
  font-size: 18px;
  color: #06615a;
  list-style: none;
  line-height: 29px;
}

.suite-comparison__addons {
  height: 300px;
  width: 75%;
  margin-top: 60px;
  margin-left: 12%;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  box-shadow: 5px 10px 8px 10px #f8f9f9;
  background-color: #fff;
  padding: 40px 20px 30px 40px;
}
.suite-comparison__newaddons__button {
  background-color: #ff6224;
  font-weight: 600;
  font-size: 14px;
  list-style: none;
  line-height: 18px;
  color: #fff;
  outline: none;
  height: 30px;
  width: 120px;
}
.suite-comparison__newaddons__paragraph {
  font-weight: 700;
  font-size: 24px;
  list-style: none;
  line-height: 32px;
  color: #03363d;
}
.suite-comparison__newaddons__paragraph-one {
  font-weight: 600;
  font-size: 16px;
  list-style: none;
  line-height: 24px;
  color: #03363d;
}
.suite-comparison__newaddons__paragraph-two {
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  line-height: 24px;
  color: #17494d;
}
.suite-comparison__addons-items {
  display: flex;
  justify-content: space-evenly;

  font-weight: 400;
  font-size: 16px;
  list-style: none;
  line-height: 24px;
  color: #17494d;
}
.suite-comparison__sales__button {
  background-color: #fff;
  font-weight: 600;
  font-size: 18px;
  color: #06615a;
  list-style: none;
  line-height: 28px;
  outline: none;
  height: 40px;
  width: 150px;
}
.suite-comparison__sales:hover {
  background-color: #06615a;
}
.start-ups {
  background-color: #fff;
  padding: 40px 20px 0px 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  /* margin: 35px; */
}
.start-ups__start-zen {
  background-color: #ead6e8;
  height: 100px;
  width: 80%;

  /* margin-top: 70px; */
  text-align: center;
}
.start-ups__start-zen__paragragh {
  font-weight: 700;
  font-size: 24px;
  list-style: none;
  line-height: 32px;
  color: #03363d;
}
.start-ups__start-zen__link {
  font-weight: 600;
  font-size: 18px;
  color: #06615a;
  list-style: none;
  line-height: 29px;
}
.start-ups__paragragh {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #03363d;
  list-style: none;
  line-height: 22px;
}
.start-ups__start-icons {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.start-icons__img-container {
  width: 100%;
  height: 100%;
}
.start-icons__img-container__image {
  width: 150px;
  height: 70px;
  object-fit: contain;
  align-self: center;
}

.start-ups__fullexp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 30px; */
  height: 200px;
  width: 1000px;
  background-color: #f0f0f0;
  padding: 40px 20px 30px 40px;
  margin-bottom: 100px;
}
.start-ups__fullexp-buttons {
  display: flex;
  flex-direction: column;
}
.start-ups__fullexp__buttons__paragraph {
  font-weight: 700;
  font-size: 32px;
  color: #03363d;
  line-height: 40px;
}
.justbuttons {
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: center;
  column-gap: 5px;
}
.justbuttons--filled {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  background-color: #06615a;
  list-style: none;
  line-height: 28px;
  border: none;
  height: 40px;
  width: 150px;
}

.justbuttons--outlined {
  background-color: #fff;
  font-weight: 600;
  font-size: 18px;
  color: #06615a;
  line-height: 28px;
  height: 40px;
  width: 150px;
  border: 1px solid black;
}
.img-container__image {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.faqs {
  max-width: 1100px;
  margin: 105px auto;
}
.faqs__paragraph {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 56px;
  color: #03363d;
}

.faqs__paragraphhead {
  text-align: left;
  padding-left: 80px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  list-style: none;
  line-height: 16px;
  color: #000000;
}
.faqs__faq-text {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-left: 90px;
  font-weight: 600;
  font-size: 20px;
  list-style: none;
  line-height: 28px;
  color: #03363d;
}
.faqs__horizontal {
  width: 93%;
  color: #68737d;
  border-width: 2px;
  text-align: left;
  margin-left: 80px;
}
.zen-products {
  display: flex;
  justify-content: space-evenly;
  margin: 35px;
  background-color: #f8f9f9;
}
.zen-products__paragraph{
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  color: #03363d;
}
.zen_products__horizontal{
  width: 83%;
  color: #68737d;
  border-width: 1px;
  text-align: left;
  margin-left: 80px;
}
.zen-products__unordered {
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: #68737d;
}
.zen-products a {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: #68737d;
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 20px 80px 20px 80px;
}

.footer__first {
  display: flex;
  justify-content: space-between;
}
.footer__first__paragraph{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #03363d;
}
.footer__first__paragraphone{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #17494d;
}
.footer__second {
  display: flex;
  justify-content: left;
  column-gap: 10px;
  color: #68737d;
 
  /* padding-right: 15px; */
}
.footer__second__link{
  font-size: 14px;
  font-weight: 400;
  color: #68737d;
}
.footer__second__link:hover{
  color:#06615a;
}

.footer__third__paragraph{

  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  color: #68737d;
  text-align: left
}
.form__input{
  height: 40px;
  width: 250px;
  border: 1px solid black;
  text-align: center;
}
.footer__social-icons {
  display: flex;
  column-gap: 7px;

}
.footer__social-icons_link{
  color:#68737d;
  font-size: 24px;

}
.footer__social-icons_link:hover{
  color:#06615a;

}